@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icons/icomoon.eot");
  src: url("./assets/fonts/icons/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/icons/icomoon.woff") format("woff"),
    url("./assets/fonts/icons/icomoon.ttf") format("truetype"),
    url("./assets/fonts/icons/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "icomoon";
  content: attr(data-icon);
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: "BoldFont";
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "RegularFont";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "LightFont";
  src: url(./assets/fonts/Roboto-Light.ttf);
}
// media queries
@media screen and (max-width: 768px) {
  .main-section {
    margin: 0 auto;
  }
}
@media only screen and (max-width:1125px){
  .card-lg{
    width: 160px!important;
  }
  .lg-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// media queries
.font-16 {
  font-size: 16px;
  letter-spacing: 1px;
}
.container {
  min-width: 100%;
  height: 730px;
  background-image: url(./assets/media/Background.4dcd5448.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "RegularFont";
  .navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 70px !important;
    left: 0;
    z-index: 20;
  }
  .navbar {
    .container-fluid {
      .navbar-brand {
        margin: 0px 60px;
        .navbar-icon {
          width: 40px;
          height: 40px;
        }
      }
      .navbar-langs {
        margin-right: 60px;
        ul {
          .lang-div {
            width: 34px;
            height: 25px;
            li {
              float: left;
            }
          }
        }
      }
    }
    .collapse {
      ul {
        .navbar-nav {
          span {
            .nav-active-div {
              width: auto;
              height: 10px !important;
            }
          }
        }
      }
    }
  }
  .text-dark-color {
    color: #343a40 !important;
  }
  .active-li {
    background-color: #431667;
    opacity: 0.8;
    text-align: center;
    border-radius: 3px;
    color: white !important;
  }
  .height-class {
    height: 25px !important;
  }
  .pointer {
    cursor: pointer;
  }
  .main-section {
    min-width: 100%;
    height: 700px;
    .main-heading {
      #ispanadicto-heading {
        color: white;
        font-size: 50px;
        font-family: "BoldFont";
      }
      ul {
        li {
          letter-spacing: 1px;
        }
      }
    }
    .main-search {
      .search-form {
        width: 600px !important;
        height: 45px;
        border-radius: 20px;
        position: relative;
        .search-icon {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #64229b;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 10px;
          text-align: center;
          bottom: -19px;
          right: 2px;
        }
      }
    }
  }
  .empty-box {
    width: 100%;
    height: 70px;
  }
  .main-cards {
    width: 1060px;
    height: 130px;
    margin: 0 auto;
    .mini-cards {
      .row {
        .m-card-body {
          width: 191px;
          height: 100px;
          background-color: white;
          margin-left: 26px !important;
          border-radius: 5px;
          .icon-holder {
            img {
              width: 38px;
              height: 40px;
            }
          }
        }
      }
    }
  }
  .text-details {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .main-cards-2 {
    width: 720px;
    height: 140px;
    margin: 0 auto;
    .mini-cards-2-body {
      height: 140px;
      border-radius: 10px;
      border-top: 3px solid #431667;
      .text-holder-2 {
        display: flex;
        flex-direction: column;
        span {
          font-size: 15px !important;
        }
        .main-words {
          text-decoration: none;
          color: #431667;
          font-size: 15px !important;
          margin-top: 0px !important;
        }
        .audio-icon {
          font-size: 12px !important;
        }
      }
    }
  }
  #border-1 {
    border-left: 3px solid #a155ed;
  }
  #border-2 {
    border-left: 3px solid #ed5555;
  }
  #border-3 {
    border-left: 3px solid #5bd759;
  }
  #border-4 {
    border-left: 3px solid #ff8a35;
  }
  .sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .footer-section {
    min-width: 70%;
    height: 100px;
    margin: 0 auto;
    .footer-texts {
      font-size: 13px;
      letter-spacing: 1px;
    }
    .icon-font {
      font-size: 25px;
      color: #431667;
    }
  }
}
